# Systemd service file activating bms_gateway application on boot.
#
# File location: /etc/systemd/system/bms_gateway.service
# 
# Enable systemd service: sudo systemctl enable bms_gateway.service
#
[Unit]
Description=ERP System Service

[Service]
Type=simple
#Requires=
#After=pigpiod.service
ExecStart=/home/USERNAME/src/erp-controller/.venv/vin/run_uds_mqtt_connector
WorkingDirectory=/home/USERNAME/
# StandardOutput=null
User=USERNAME
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

